
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

* {
  color: #fff !important;
}
body {
  color: rgb(255, 241, 241);
  padding: 0;
  margin: 0;
  background: linear-gradient(135deg, #0002a8, #81007c, #2f205f, #240783);
}
.container {
  border: 2px solid red;
  width: 100%;
  padding: 6vh;
}

#main_nav
{
  border: 3px solid hotpink;
}
.course {
  border-bottom: 13px solid rgb(234 229 229 / 27%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
  padding: 18vh;
  width: 100%;
  margin: auto;
  top: 5vh;
  gap: 6rem;
}




.course .btn {
  width: 100% !important;
  align-self: center !important;
  border-radius: 0% !important;
  background: #14095b !important;
  font-size: 1.1rem !important;
  letter-spacing: 2px !important;
}

.signin {
  border: 6px solid rgba(222, 15, 15, 0.973);
  padding: 2vh;
  border-radius: 3vh;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.8); /* The glow effect */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}
.mainheader {
  /* border: 3px solid yellow; */
  padding: 1rem;
  background: transparent !important;
}

.mainheader h1 {
  font-size: larger;
  font-weight: 700;
  font-family: "Bebas Neue", sans-serif;
  
}
.searchbar {
  border:0.4rem solid yellow;
  width: 35%;
  margin: auto;
}

.searchbar
input {
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.8); /* The glow effect */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
  
}
#logo {
  border-radius: 10%;
  padding: 0.9rem;
  /* border: 2px solid gray; */
}

.card {
  box-shadow: 5px 7px 20px 11px rgb(84 95 255 / 19%) !important;
  transition: box-shadow 0.3s ease-in-out !important;
}

.card-body * {
  color: rgba(0, 0, 0, 0.992) !important;
}
.card-body,
a {
  color: white !important;
}

.bg_main {
  position: relative;
  width: 100%; /* or a specific width */
  padding: 0rem;
}

.text-overlay {
  /* position: absolute;s */
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 41px;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 34px;

  margin: 0rem;
}

.footer_main {
  position: relative;
  top: 5vh;
  border: 3px solid rgba(255, 0, 0, 0.056);
  padding: 3vh;
  background-image: linear-gradient(
    -225deg,
    #ff3cac 0%,
    #562b7c 52%,
    #2b86c5 100%
  );
}
/* ======================= Making  Resposive  ================  */

/* For screens smaller than 1024px (e.g., tablets) */
@media screen and (max-width: 1024px) {
  .course {
    grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns */
  }
}

/* For screens smaller than 768px (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  .course {
    grid-template-columns: repeat(1, 1fr); /* Switch to 1 column */
  }
}
